.home-container {
  background-color: rgba(255, 255, 255, 0.9);
}

h2 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100px;
  padding: 10px;
  background: #f0811a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #7a420d;
}
p {
  margin: 10px 0;
  color: blue;
}

/* Calendar styling */
.fc .fc-scroller::-webkit-scrollbar {
  width: 10px;
}

.fc .fc-scroller::-webkit-scrollbar-track {
  background: #fff;
}

.fc .fc-scroller::-webkit-scrollbar-thumb {
  background-color: #f0811a;
  border-radius: 20px;
  border: 2px solid #fff;
}
.fc .fc-toolbar-chunk button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 32px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f0811a;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
}
.fc .fc-toolbar-chunk button .fc-icon {
  font-size: 26px;
  position: absolute;
  top: -10px;
}
.fc .fc-toolbar-chunk button:hover {
  background-color: #7a420d;
}
.fc .fc-week-number {
  font-weight: bold;
  color: #f0811a;
  padding: 5px;
}
.top-left {
  padding: 10px 20px;
  background-color: #f0811a;
  position: fixed;
  top: 70px;
  left: 20px;
  border-radius: 5px;
  opacity: 0.9;
  font-size: 2em;
}

.top-center {
  font-size: 2em;
  padding: 10px 20px;
  background-color: #f0811a;
  position: fixed;
  top: 70px;
  left: 48%;
  border-radius: 5px;
  opacity: 0.9;
}

/* Media Query for Small Devices */
@media (max-width: 768px) {
  h3 {
    font-size: 0.5em;
  }
  .fc-header-toolbar .fc-toolbar-chunk button {
    width: 35px;
    height: 30px;
    font-size: 14px;
  }
  .fc .fc-toolbar-chunk button .fc-icon {
    font-size: 16px;
  }
  .fc-header-toolbar .fc-toolbar-chunk.fc-toolbar-center {
    display: none;
  }

  .fc {
    width: 100%;
  }
  .fc-toolbar-chunk button {
    padding: 6px;
  }

  .fc-toolbar-title {
    font-size: 0.8em;
  }
  .fc .fc-toolbar-chunk button .fc-icon {
    font-size: 26px;
    position: absolute;
  }
}
